/* Universal Section */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
    color: whitesmoke;
    background: rgb(255, 106, 60);
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 50px;
}
/* No Bullet Points on LI */
li {
    list-style: none;
}
/* Limits Header Navbar And Content to 1100 px And Centers It*/
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1100px;
    height: 1100px;
    margin: 0 auto;
    padding: 0;
    border-left: 5px solid #fff;
    /* background-color: black; */
}

.navbar {
    background: rgb(255, 60, 0);
    color: whitesmoke;
    height: 100px;
}
/* My Portfolio Styling */
.logo {
    font-size: 40px;
    font-weight: bolder;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}
/* Puts Navbar Content Into A Row By Choosing Div As Container Instead of Nav 
{If Nav Is Parent then Div is the only child! 
Div has 2 Children (Logo & Nav) */
.container {
    display: flex;
    /* Puts Children At Each End Of Parent Container */
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}
/* Changes UL Default Style From Collumn To Row */
.navbar ul {
    display: flex;
}
/* Add Spicing To li (child) Class Container (Parent) */
.navbar ul li {
    margin-left: 25px;
}

/* About Me */
.about-container {
    display: flex;
    /* background-color: blue; */
    align-items: center;
}

.about-left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: blueviolet; */
    flex: 1;
    /* border-left: 5px solid #fff; */
}

.about-right {
    display: flex;
    flex: 9;
    /* background-color: blueviolet; */
    text-align: center;
}

    /* Work */
.work-container {
    display: flex;
    align-items: center;
    /* background-color: orchid; */
    flex-wrap: wrap;
    width: 100%;
}

.work-left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    /* background-color: darkgoldenrod; */
    height: 510px;
    /* border-left: 5px solid #fff; */
}

.work-right {
    display: flex;
    gap: 10px;
    flex: 9;
    flex-wrap: wrap-reverse;
    /* background-color: darkgoldenrod; */
}
    /* Picture Borders */
.box-1 {
    box-sizing: border-box;
    border: 5px solid black;
}
.box-2 {
    box-sizing: border-box;
    border: 5px solid black;
}
.box-3 {
    box-sizing: border-box;
    border: 5px solid black;
}
.box-4 {
    box-sizing: border-box;
    border: 5px solid black;
}

.box-1 {
    flex: 2;
}

.box-2 {
    flex: 1;
}

.box-3 {
    flex: 1;
}

.box-4 {
    flex: 1;
}
    /* Contact Me */
.contact-container{
    display: flex;
    align-items: center;
}

.contact-left {
    text-align: center;
    display: flex;
    flex: 1;
    /* background-color: green; */
    /* border-left: 5px solid #fff; */
}

.contact-right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 9;
    /* background-color: green; */
}

.contact-right li {
    margin-left: 20px;
}

.contact-right a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

    /* Responsive Screens */
        /* Extra small devices (phones, 600px and down */
@media only screen and (max-width:600px) {
            /* NavBar */
    .navbar {
        height: 150px;
    }

    ul {
        display: flex;
        flex-flow: column wrap;
    }

            /* Header Line */
main {
    border-left: none;
}

        /* Navar */
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav {
        flex-direction: row;
        /* background-color: black; */
    }

            /* About Me */
    .about-container {
        flex-flow: column;
    }

            /* Work */
    .work-container {
        flex-flow: column wrap;
    }

    .work-container img {
        width: 100%;
    }

    .box-1,.box-2,.box-3,.box-4{
        border: none;
    }

            /* Contact Me */
    .contact-container {
        flex-direction: column;
    }

    .contact-container ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}