/* Universal Section */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
    color: whitesmoke;
    background: rgb(255, 106, 60);
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 50px;
}
/* No Bullet Points on LI */
li {
    list-style: none;
}
/* Limits Header Navbar And Content to 1100 px And Centers It*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}

.navbar {
    background: rgb(255, 60, 0);
    color: whitesmoke;
    height: 100px;
}
/* My Portfolio Styling */
.navbar.logo {
    font-size: x-large;
    font-weight: bolder;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
/* Puts Navbar Content Into A Row By Choosing Div As Container Instead of Nav 
{If Nav Is Parent then Div is the only child! 
Div has 2 Children (Logo & Nav) */
.navbar .container {
    display: flex;
    /* Puts Children At Each End Of Parent Container */
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
/* Changes UL Default Style From Collumn To Row */
.navbar ul {
    display: flex;
}
/* Add Spicing To li (child) Class Container (Parent) */
.navbar ul li {
    margin-left: 20px;
}

/* Main Section (Testing) */

.about-box {
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    gap: 100px;
}

@media screen and (min-width: 200px) and (max-width: 678px) {
    .about-container {
        flex-flow: column;
    }
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}





.work-box {
    align-items: center;
    justify-content: center;
}

.work-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 678px) and (min-width: 200px) {
    .work-container {
        flex-flow: column wrap;
    }

    .work-container img {
        width: 100%;
    }
}

.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-container ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact-box ul li {
    margin-left: 20px;
}

@media screen and (max-width: 678px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-container ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

/* Main Section */
/* 
.image-box {
    background-color: red;
}

.image-box {
    display: flex;
    justify-content: center;
}

.image-container {
    display: flex;
    width: 40%;
    box-sizing: border-box;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

img {
    width: 50%;
}

@media screen and (max-width:768px) {
    img {
        width: 40%;
    }
}

@media screen and (max-width:560px) {
    img {
        width: 100%;
    }
} */
