body {
    background-color: rgb(245, 92, 36);
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    height: 1100px;
    margin: 0 auto;
    padding: 0;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    background-color: rgb(255, 144, 41);
    color: whitesmoke;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1100px;
    height: 160px;
    margin: 0 auto;
    padding: 0;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    color: whitesmoke;
    background-color: darkorange;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

.navbar {
    background: rgb(255, 60, 0);
    color: whitesmoke;
    height: 100px;
}
/* My Portfolio Styling */
.logo {
    font-size: 2.5rem;
    font-weight: bolder;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
/* Puts Navbar Content Into A Row By Choosing Div As Container Instead of Nav 
{If Nav Is Parent then Div is the only child! 
Div has 2 Children (Logo & Nav) */
.container {
    display: flex;
    /* Puts Children At Each End Of Parent Container */
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}
/* Changes UL Default Style From Collumn To Row */
.navbar ul {
    display: flex;
    /* keeps menu option from hitting screen on the right side */
    margin-right: 10px;
}
/* Add Spicing To li (child) Class Container (Parent) */
.navbar ul li {
    margin-left: 25px;
}

/* About Section */
.about-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.about-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.about-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 4;
}

/* Work Section */
.work-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.work-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.work-right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 4;
    box-sizing: border-box;
}

.work-right img {
    border: 5px solid black;
    box-sizing: border-box;
}

.box-1 {
    width: 100%;
}

.box-2, .box-3, .box-4 {
    width: 33.33%;
}

/* Contact Section */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.contact-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.contact-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 4;
}

.contact-right a {
    color: whitesmoke;
}

/* Small Screens */
@media only screen and (min-width: 400px) and (max-width:768px) {
    main {
        border-left: none;
        border-right: none;
    }
    
    .container,.about-container,.work-container,.contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        border-left: none;
        border-right: none;
    }
}